<div class="container">
  <p style="color: red"><%= notice %></p>
  <div class="title-md mb-sm">Сотрудники</div>
  <%= link_to "Добавить", new_employee_path, class: "button button-main button-add" %>
  <div id="employees" class="mt">
    <% @employees.each do |employee| %>
      <%= render employee %>
    <% end %>
  </div>
</div>
