<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="title-md">Список варок</div>

  <%= link_to "Добавить", new_brew_path, class: 'button button-main button-add mt' %>
  <div id="brews" class="mt">
    <% @brews.each do |brew| %>
      <%= render brew %>
      <%= button_to "Удалить", @brew, method: :delete, class: 'button button-main button-delete mb' %>
    <% end %>
  </div>
</div>