<p style="color: green"><%= notice %></p>

<%= render @brew %>

<div class="mt">
  <%= link_to "Редактировать", edit_brew_path(@brew) , class: 'button button-main button-add' %>
  <%= button_to "Удалить", @brew, method: :delete, class: 'button button-main button-delete mb' %>
</div>
