<div class="container">
  <div class="title-lg">Список варок</div>
  <p><%= link_to 'Добавить варку', new_brew_path, class: 'button button-main button-add mt' %></p>
  <% @brews.each do |brew| %>
    <p>
      <%= brew.batch %> 
      <%= brew.date %> 
        

      <%= button_to "Удалить варку", brew_path(brew), formmethod: :delete, class: 'button button-main button-delete' %>
    </p>
  <% end %>
</div>