<div id="<%= dom_id equipment %>">
  <p>
    <strong>Название:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>Тип оборудования:</strong>
    <%= EquipmentType.find(equipment.equipment_types_id).name %>
  </p>

</div>
