<%= form_with(model: checklist) do |form| %>
  <% if checklist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checklist.errors.count, "error") %> prohibited this checklist from being saved:</h2>

      <ul>
        <% checklist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: inline-block">
    
    <div class= "title-sm">Предварительное ополаскивание</div>
    <br>
    <ul>
      <li>
        Разобрать шланг на буферную емкость, присоединить колено.
        Снять шланги сухих и жидких компонентов, установить колено.
        Наполнить реактор водой очищенной технической 70 - 80° С в объеме 500 л. через моющие  
        головки при работающих мешалках. 
        Через люк реактора добавить пеногаситель «Momentive AF 9030E» в кол-ве 25 мл.- 5 нажатий.
        Скорость вращения мешалок: центральной – 25об/мин, боковых – 100 об/мин. Гомогенизатор – 3000 об/мин.
        Циркулировать воду по контуру гомогенизатора не менее 5 минут.
        Слить раствор из реактора.
        Кнопка? Готово
      </li>
      <br>
      <li>
        Сбить остатки Керхером.
        Промыть крышку реактора щеткой с использованием очищенной воды из ведра.
        Слить раствор из реактора.
        Кнопка? Готово
      </li>
    </ul>
    <br>
    <div class= "title-sm">Основная мойка</div>
    <br>
    <ul>
      <li>
      
        Включить мешалки. Скорость вращения мешалок: центральной – 25 об/мин, боковых – 100 об/мин. 
        Наполнить реактор водой очищенной технической 70-80 °С в объеме 600 л.
        Загрузить навеску Щелочи через люк в крышке в количестве 900 г. 
        Через люк реактора добавить пеногаситель «Momentive AF 9030E» в кол-ве 25 мл.- 5 нажатий.
        Циркулировать раствор по всем контурам 1 цикл (не менее 20 мин).
        Слить раствор из реактора.
        Кнопка? Готово
      </li>
      <br>
      <li>
        Заполнить реактор холодной очищенной водой в объеме 300 л. 
        Циркулировать воду по всем контурам 1 цикл (не менее 20 мин).
        Скорость вращения мешалок: центральной – 25 об/мин, боковых – 100 об/мин. 
        Слить раствор из реактора. 
        Кнопка Готово
      </li>
      <br>
      <li>
        Визуальная проверка целостности смотрового окна: открыть крышку люка реактора, провести визуальную проверку стекла на отсутствие повреждений, сколов, 
        трещин с внутренней и внешней стороны.<br>
        <i>Результат: повреждений не обнаружено / повреждения есть. Кнопка </i> <br>
        В случае обнаружения повреждений стекла оповестить мастера ЦПП/ менеджера ЦПП, вызвать механика ИТС, произвести замену стекла.
        Ответственный за осмотр стекла: (выбрать сотрудника) <%=form.collection_select :cheking_id, Employee.order(:name), :id, :name, :selected => current_user.employee_id %>
      </li>
      <br>
      <li>
        Перед снятием пробоотборника полностью сбросить вакуум, чтобы избежать попадание уплотнительного кольца в реактор!
        Снять пробоотборник для промывки
        Промыть и ополоснуть от остатков полупродукта с помощью щеток в ванне   
        №1 моечного отделения.
        Оросить спиртосодержащим дезинфицирующим средством Divodes FG
        в соответствии с Инструкцией по его применению.    
        Установить пробоотборник.
      </li>
      <br>
      <li>При необходимости остатки сбить Керхером.</li>
      <br>
      <li>Промыть кран на передвижные емкости щеткой с использованием очищенной воды из ведра. При необходимости с разбором и промывкой в моечном отделении.</li>
      <br>
      <li>Промыть ручной кран на буферную емкость и резьбовое соединение в месте установки пыжа. При необходимости с разбором и промывкой в моечном отделении.</li>
      <br>
      <li>
        Визуальный осмотр на наличие остатков п/продукта или пены 
        В случае обнаружения остатков п/продукта или пены осуществить п. 2.9. 
        В случае отсутствия остатков п/продукта или пены пригласить старшего аппаратчика; аппаратчика 2,3-го разряда. 
        Контроль внутренней поверхности реактора, кранов на буферную и передвижные емкости и разборных частей трубопровода путем открытия клапанов 
        на линии выгрузки полупродукта V02 01.171.06 и V02 01.171.18 
        Результат:
      </li>
      <br>
      <li>
        Наполнить реактор холодной очищенной водой в объеме 300 л
        Циркулировать воду по всем контурам 1 цикл (не менее 20 минут).
        Скорость вращения мешалок: центральной – 25 об/мин, боковых – 100 об/мин.
        Слить раствор из реактора.
        Пригласить старшего аппаратчика; аппаратчика 2,3-го разряда
        Результат:
      </li>
    </ul>
    <div></div>

  </div>
<% end %>
