<div class="container">
  <div class="title-md mb">Протокол промывки</div>
  <div>Дата: <span class="text-red text-bold">  </span> </div>
  <div class="">Оборудование: <span class="text-red text-bold"><%= Equipment.find(@brew.equipments_id).name %> </span> </div>
  <% product = Product.find(@brew.product_id) %>
  <% serias = Series.find(product.series_id) %>
  <div class="">Полупродукт:  <span class="text-red text-bold"><%= product.name %> <%= serias.name %></span> </div>
  <div class="mb"></div>

  <%= render "form_new", checklist: @checklist %>

  <script>
    document.getElementById("btn-stage1").onclick = function() {
      let elements = document.querySelectorAll('.stage1');
      for (let elem of elements){
        elem.classList.toggle('through');
      }
    };

    document.getElementById("btn-stage2").onclick = function() {
      document.getElementById("checklist_cheking_id").disabled = true;
      let elements = document.querySelectorAll('.stage2');
      for (let elem of elements){
        elem.classList.toggle('through');
      }
    };
  </script>
</div>