.button{
  border: 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
}

.button-main{
  background-color: #217721;
}

.button-show{
  background-color: #36c0ca;
}

.button-delete{
  background-color: rgb(202, 57, 57);
}

.button-add {
  background-color: rgb(22, 135, 180);
}