body {
  background: #E7F1CF;
  display: flex;
  justify-content: center;
} 

.wrapper{
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #E7F1CF;
  padding: 20px; 
}

.container, .navbar{
  padding: 20px;
}

/* .container{
  background: #E7F1CF;
} */

.navbar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  
}

.navbar a{
  text-decoration: none;
}