<div id="<%= dom_id product %>">
  <p>
    <strong>Наименование:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Серия:</strong>
    <%= Series.find(product.series_id).name %>
  </p>

</div>
