<p style="color: green"><%= notice %></p>

<h1>Серии полупродукта</h1>
<p><%= link_to "Создать новую", new_series_path %></p>
<br>
<div id="series">
  <% @series.each do |series| %>
    <%= render series %>
    <p>
      <%= link_to "Список полупродукта", series %>
    </p>
    <br>
  <% end %>
</div>


